.navlinkstyl {
  font-size: 25px;
  color: black !important;
}
.navlinkstyl:hover {
  background-color: #f7a730 !important;
  color: black !important;
}
.navlinkstyl1 {
  font-size: 25px;
  color: black !important;
}
